* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	background-color: #004D40;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 15px;
	flex-direction: column;
	overflow-x:hidden;
}
#container {
	color:#fff;
	width: 400px;
	display: flex;
	justify-content: center;
	line-height: 1.5;
	opacity: 0;
	transition: opacity ease 1s;
}
#container.visible { opacity: 1; }
#timer { font-size: 1.2em; }
.title { font-size: 1.5em; }
.hours,
.minutes,
.seconds {
	height: 10px;
	width: 240px;
	margin: 10px 0;
	background-color: rgba(255,255,255,.1);
	border-radius: 10px;
	/*box-shadow: 50px 0 0 #fff inset;*/
	transition: box-shadow ease 1s;
}

.copy {
	align-items: flex-end;
	color: rgba(255,255,255,.5);
	margin: 1em 0;
}